.optionButton {
    padding: 5px 10px;
    background-color: chartreuse;
    font-weight:bold;

    border: 2px solid fuchsia;
    border-radius: 8px;
    cursor: pointer;
    text-transform: capitalize;
    margin-right: 10px;

    /* transition: background-color .25s cubic-bezier(0.4 0 0.2 1); */
}

.optionButton:hover{
    scale: 1.1;
}

.optionButton:first-child{
    background-color: aquamarine;
    
    transition: background-color .25s cubic-bezier(0.4 0 0.2 1);
}

.optionButton:last-child{
    background-color:tomato;
    transition: background-color .25s cubic-bezier(0.4 0 0.2 1);
}

.optionButton:active {
    background-color: darkslategrey;
    color: #fff;
    transition: all .25s cubic-bezier(0.4 0 0.2 1);
}

